<ion-header>
  <ion-navbar>
    <ion-title>
      کلبه کرامت
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>جلسات</ion-list-header>
    <ion-item *ngFor="let ss of sessions">
      <!--      <ion-icon name="ionic" item-start></ion-icon>-->
      <div class="bg-image">
        <hr>
        <ion-thumbnail>
          <img (click)="loadPlayerDetail(ss)" src="{{ss.img}}" class="round-image" style="height: 150px !important;  width: 150px !important;              background: none !important;     background-color :none !important; display: inline !important;" />
        </ion-thumbnail>

        <!--            </ion-img> -->

        <hr>
        {{ss.name}}
        <hr>

        <a href="https://t.me/{{ss.uInstagramId}}"><img class="sociallogo" src="{{serverWebApp}}/assets/imgs/telegram.png" /></a>
        <a href="https://instagram.com/{{ss.uTelegramlId}}"><img class="sociallogo" src="../../assets/imgs/instagram.png" /></a>
        <a href="{{ss.apiUrl}}/www/player.php?id={{ss.id}}"><img class="sociallogo" src="../../assets/imgs/website.png" /></a>

        <ion-list (click)="loadPlayerDetail(p)">
          <ion-item class="item2col">
            <ion-row>
              <ion-col width-50>
                جنسیت : {{ ss.jens=="1" ? "آقا" : "خانم" }}
              </ion-col>
              <ion-col width-50>
                استان : {{ss.province}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-50>
                رشته : {{ss.field}}
              </ion-col>
              <ion-col width-50>
                محل تولد : {{ss.birthPlace}}
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item class="item2col">
            اطلاعات بیشتر
          </ion-item>
        </ion-list>
        <hr>
      </div>
    </ion-item>
  </ion-list>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>



</ion-content>